table { width: 100%; }

.bg-blank {
  .modal-content {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
  }
}

.mat-header-cell {
  font-size: 16px;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

tr.mat-header-row {
  background-color:  rgba(243, 246, 249, 1);
  height: 40px !important;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border-bottom-width: 0 !important;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
 padding-bottom: 10px;
 padding-top: 10px;
}
