<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-title h4 w-100 text-center" id="example-modal-sizes-title-lg">
                <ng-container >
                    <h3 class="stepper-title"> <B>อัพโหลดสำเร็จ</B> </h3>
                </ng-container>
            </div>
        </div>

        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmehA7WdL0Qf-xiEEcLC5tjKMTGAqAkAV7sBA2Ljied2_OiF9hRzml-XWSvwXDa2TLwU0&usqp=CAU">
        
    </div>
</div>
