table { width: 100%; }

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  width: 400px;
}

.mat-header-cell {
font-size: 14px;
}

.mat-row .mat-cell {
border-bottom: 1px solid transparent;
border-top: 1px solid transparent;
}

tr.mat-header-row {
height: 40px !important;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
border-bottom-width: 0 !important;
}

