<div class="card mb-5 mb-xl-10">
    <div
      class="card-header border-0 cursor-pointer"
      role="button"
      data-bs-toggle="collapse"
      data-bs-target="#kt_account_profile_details"
      aria-expanded="true"
      aria-controls="kt_account_profile_details"
    >
      <div class="card-title m-0">
        <h3 class="fw-bolder m-0">แก้ไขข้อมูลลูกค้า</h3>
      </div>
    </div>
  
    <div id="kt_account_profile_details" class="collapse show">
      <form
        [formGroup]="profileForm"
        class="form"
        novalidate="novalidate"
        (ngSubmit)="saveSettings()"
      >
        <!-- (ngSubmit)="saveSettings()" -->
        <div class="card-body border-top p-9">

            <div class="row mb-6">
                <label class="col-lg-4 col-form-label fw-bold fs-6"
                  ><span class="required">สถานะ</span></label
                >
      
                <div class="col-lg-8 fv-row">
                  <mat-form-field>
                    <select
                      matNativeControl
                      formControlName="cusstatus"
                      placeholder="สถานะ"
                    >
                      <option *ngFor="let position of risk2" [value]="position">
                        {{ position }}
                      </option>
                    </select>
                  </mat-form-field>
                </div>
              </div>




          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6"
              ><span class="required">เพิ่มลิ้งแผนที่</span></label
            >
            <div class="col-lg-8 fv-row">
              <input
                type="tel"
                class="form-control form-control-lg form-control-solid"
                placeholder="https://example.com"
                formControlName="maplink"
              />
            </div>
          </div>
  
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6"
              ><span class="required">เพิ่มที่อยู่ใหม่</span></label
            >
            <div class="col-lg-8 fv-row">
              <input
                type="tel"
                class="form-control form-control-lg form-control-solid"
                placeholder=""
                formControlName="highlight"
              />
            </div>
          </div>

          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6"
              ><span class="required">วันที่วางบิล</span></label
            >
            <div class="col-lg-8 fv-row">
              <input
                type="tel"
                class="form-control form-control-lg form-control-solid"
                placeholder="1-30"
                formControlName="billdate"
              />
            </div>
          </div>          
          

        </div>
  

        
        <div class="card-footer d-flex justify-content-end py-6 px-9">
          <button
            type="button"
            class="btn btn-danger"
            [disabled]="isLoading"
            (click)="decline()"
          >
            <ng-container>ยกเลิก</ng-container>
          </button>
  
          <!-- Seperate Space -->
          &nbsp;
  
          <button
            type="submit"
            class="btn btn-primary"

          >
            <ng-container *ngIf="!isLoading">บันทึกแก้ไข</ng-container>
            <ng-container *ngIf="isLoading">
              <span clas="indicator-progress" [style.display]="'block'">
                โปรดรอสักครู่ ...{{ " " }}
                <span
                  class="spinner-border spinner-border-sm align-middle ms-2"
                ></span>
              </span>
            </ng-container>
          </button>
        </div>
      </form>
    </div>
  </div>
  