

  <mat-form-field appearance="standard">
    <input matInput (keyup)="applyFilter($event)" placeholder="Search.. id, name" #input>
  </mat-form-field>




<!-- begin::Header -->
<div class="card card-bordered">

  <!-- <div class="d-flex align-items-center position-relative me-4">
    <span
      [inlineSVG]="'./assets/media/icons/duotune/general/gen021.svg'"
      class="svg-icon svg-icon-3 position-absolute ms-3"
    ></span>

    <input
      type="text"
      id="kt_filter_search"
      class="form-control form-control-white form-control-sm w-150px ps-9"
      placeholder="Search"
    />
    <input matInput (keyup)="applyFilter($event)" placeholder="Search.. id, name" #input>
  </div> -->




  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.itemno}} <p class="text-muted mb-0">{{row.itemdes}}</p> </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef > Name </th>
        <td mat-cell *matCellDef="let row"> {{row.itemdes}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef > Type </th>
        <td mat-cell *matCellDef="let row"> {{row.itemgrp}} </td>
      </ng-container>

      <ng-container matColumnDef="qty">
        <th mat-header-cell *matHeaderCellDef > Qty </th>
        <td mat-cell *matCellDef="let row"> {{row.qty}} 
          <span class="badge badge-2 badge-inline"
                [class.badge-danger]="row.qty == 0"
                [class.badge-warning]="row.qty < 10">
                <ng-container *ngIf="row.qty == 0">Sold out</ng-container>
                <ng-container *ngIf="row.qty < 10">Low stock</ng-container>
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef > Unit </th>
        <td mat-cell *matCellDef="let row"> {{row.unitnam}} </td>
      </ng-container>

      <ng-container matColumnDef="where">
        <th mat-header-cell *matHeaderCellDef > Stock </th>
        <td mat-cell *matCellDef="let row"> {{row.whdes}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef > Action </th>
        
        <td mat-cell *matCellDef="let row"> 
          <span class="menu-icon">
            <span
              [inlineSVG]="'../assets/media/svg/icons/Communication/Write.svg'"
              class="svg-icon svg-icon-2 svg-icon-primary "
            ></span> 
          </span>

          <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Navigation/Angle-right.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <polygon points="0 0 24 0 24 24 0 24"/>
                <path d="M6.70710678,15.7071068 C6.31658249,16.0976311 5.68341751,16.0976311 5.29289322,15.7071068 C4.90236893,15.3165825 4.90236893,14.6834175 5.29289322,14.2928932 L11.2928932,8.29289322 C11.6714722,7.91431428 12.2810586,7.90106866 12.6757246,8.26284586 L18.6757246,13.7628459 C19.0828436,14.1360383 19.1103465,14.7686056 18.7371541,15.1757246 C18.3639617,15.5828436 17.7313944,15.6103465 17.3242754,15.2371541 L12.0300757,10.3841378 L6.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000003, 11.999999) rotate(-270.000000) translate(-12.000003, -11.999999) "/>
            </g>
        </svg><!--end::Svg Icon--></span>

    

        </td>
      </ng-container>
      
      <!-- <ng-container [matColumnDef]="dColumns" *ngFor="let DispColumn of dColumns">
        <th mat-header-cell *matHeaderCellDef>{{ DispColumn }}</th>
        <td mat-cell *matCellDef="let row">{{ row[fColumn] }}</td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator [pageSize]="10" hidePageSize showFirstLastButtons></mat-paginator>
  </div>

</div>
