<div class="card m-5">
  <div class="card-body pt-9 pb-0">
    <div class="d-flex flex-wrap flex-sm-nowrap mb-3">
      <div class="me-7 mb-4">
        <div
          class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative"
        >
          <img src="./assets/media/avatars/300-1.jpg" alt="Metronic" />
          <div
            class="position-absolute translate-middle bottom-0 start-100 mb-6 bg-success rounded-circle border border-4 border-white h-20px w-20px"
          ></div>
        </div>
      </div>

      <div class="flex-grow-1">
        <div
          class="d-flex justify-content-between align-items-start flex-wrap mb-2"
        >
          <div class="d-flex flex-column">
            <div class="d-flex align-items-center mb-2">
              <div class="text-gray-800 fs-2 fw-bolder me-1">
                {{ mainData?.cuscod }}
              </div>
              <span
                [inlineSVG]="'./assets/media/svg/icons/General/Bookmark.svg'"
                class="svg-icon svg-icon-1 svg-icon-warning"
              ></span>
            </div>

            <div class="d-flex flex-wrap fw-bold fs-4 text-gray-500 my-4 pe-2">
              <p class="d-flex align-items-center me-5 mb-2">
                เลขประจำตัวผูเสียภาษี {{ mainData?.taxid }}
              </p>
            </div>
          </div>

          <div class="d-flex my-4">
            <div class="btn btn-sm btn-success me-3 h1 w-150px text-green-200">
              Low
            </div>
          </div>
        </div>
        <div
          class="d-flex justify-content-between align-items-start flex-wrap mb-2"
        >
          <div class="d-flex flex-column">
            <div class="d-flex align-items-center mb-2">
              <div class="fs-5 border-end border-dark fw-bolder me-1 pe-2">
                พนักงานขาย
              </div>
              <div class="fs-5 fw-bolder me-1 ps-2">
                ชลธิชา  รุ่งเรืองวรโชติ
              </div>
            </div>
          </div>

          <div class="d-flex flex-column">
            <div class="d-flex fs-5 align-self-end pe-4">
              วันที่บิลล่าสุด {{ mainData?.lastsale | date: "shortDate" }}
            </div>
            <div class="d-flex flex-wrap pe-4 align-self-end">
              <div class="fw-bold fs-8 my-4 bg-secondary px-2 border rounded">
                วันที่วางบิล ทุกวันที่ 30
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex overflow-auto border-top">
      <ul
        class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bolder flex-nowrap"
      >
        <tabset>
          <tab
            *ngFor="let tabz of tabs"
            [heading]="tabz.title"
            [active]="tabz.active"
            (selectTab)="handelClickTab(tabz?.content)"
            customClass="tab"
          >
          </tab>
        </tabset>
      </ul>
    </div>
  </div>
</div>

<div class="card m-5 h-700px">
  <div *ngIf="selectedTab == 'detail'">
    <div class="card-header">
      <p class="title my-2 py-2 align-items-center">รายละเอียดลูกค้า</p>
    </div>
    <div class="card-body">

    </div>
  </div>
  <div *ngIf="selectedTab == 'review'">
    <div class="card-header">
      <p class="title my-2 py-2 align-items-center">รีวิวลูกค้า</p>


    </div>
  </div>
  <div *ngIf="selectedTab == 'bill'">
    <div class="card-header">
      <p class="title my-2 py-2 align-items-center">บิลค้างจ่าย</p>
    </div>
  </div>
</div>

<router-outlet name="cusModal"></router-outlet>
