<div
  class="d-flex flex-column bgi-no-repeat rounded-top"
  [style.background-image]="'url(./assets/media/misc/pattern-1.jpg)'"
>
  <div class="px-5 mt-6 mb-6 text-white"> 
    <span class="fs-2 fw-bolder"> แจ้งเตือน </span> 
    <span class="fs-6"> | มีทั้งหมด {{ mainDatas$.length | number }} สินค้า</span>
  </div>
</div>

<div class="tab-content">
  <div class="tab-pane fade" id="kt_topbar_notifications_1" role="tabpanel" [ngClass]="activeTabId === 'kt_topbar_notifications_1' ? 'show active' : ''">
    <div class="scroll-y mh-325px my-5 px-8">
      <div *ngFor="let row of mainDatas$">
        <div class="d-flex flex-stack py-4">
          <div class="d-flex align-items-center">
            <div class="symbol symbol-35px me-4">
              <span class="badge badge-2 badge-inline fs-6" [class.badge-light-danger]="row.calQty == 0" [class.badge-light-warning]="row.calQty <= currLimit && row.calQty != 0">
                <p class="fs-4"> {{ row.calQty | number }} </p>
                <ng-container *ngIf="row.calQty == 0">Sold out</ng-container>
                <ng-container *ngIf="row.calQty <= currLimit && row.calQty != 0">Low stock</ng-container>
              </span>
            </div>

            <div class="mb-0 me-2">
              <!-- <a href="#" class="fs-6 text-gray-800 text-hover-primary fw-bolder">
                {{ row.itemno }}
              </a> -->
              <div class="fs-6 text-gray-800 fw-bolder">{{ row.itemno }}</div>
              <div class="text-gray-400 fs-7">{{ row.itemdes }}</div>
            </div>
          </div>
        </div>
        <hr style="margin: 0;"/>
      </div>
    </div>
  </div>
</div>
