<div class="card m-5">
  <div class="modal-header">
    <div class="btn-close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
    </div>
  </div>
    <div class="card-body pt-0 pb-0">
      <div class="d-flex flex-wrap flex-sm-nowrap mb-3">
        <div class="me-7 mb-4">
          <div
            class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative"
          >
            <img src="./assets/media/avatars/300-1.jpg" alt="Metronic" />
            <div
              class="position-absolute translate-middle bottom-0 start-100 mb-6 bg-success rounded-circle border border-4 border-white h-20px w-20px"
            ></div>
          </div>
        </div>
  
        <div class="flex-grow-1">
          <div
            class="d-flex justify-content-between align-items-start flex-wrap mb-2"
          >
            <div class="d-flex flex-column">
              <div class="d-flex align-items-center mb-2">
                <div class="text-gray-800 fs-3 fw-bolder my-4 me-1">
                  {{ mainData?.cusnam }} ({{ mainData?.cuscod }})
                </div>
              </div>
  
              <div class="d-flex flex-wrap fw-bolder h1 text-danger my-4 pe-2">
                <p class="d-flex align-items-center me-4 mb-2">
                  ยอดค้างชำระ {{ mainData?.totamt }} บาท
                </p>
              </div>
            </div>

            <div class="d-flex flex-column">
                <div class="d-flex fs-3 align-self-end fw-bolder my-4 me-1 pe-4">
                    เลขที่เอกสาร {{ mainData?.docnum }}
                </div>
                <div class="d-flex flex-wrap pe-4 align-self-end">
                    <div class="fw-bold fs-4 my-8 px-2 border text-danger rounded">
                        (ค้างจ่าย)
                    </div>
                </div>
            </div>
          </div>
          <div
            class="d-flex justify-content-between align-items-start flex-wrap mb-2"
          >
            <div class="d-flex flex-column">
              <div class="d-flex align-items-center mb-2">
                <div class="fs-5 border-end border-dark fw-bolder me-1 pe-2">
                  พนักงานขาย
                </div>
                <div class="fs-5 fw-bolder me-1 ps-2">
                  {{ mainData?.slmdes }}
                </div>
              </div>
            </div>
  
            <div class="d-flex flex-column">
              <div class="d-flex flex-wrap pe-4 align-self-end">
                <div class="fw-bold fs-8 px-2 border rounded">
                  วันที่บิลล่าสุด {{ mainData?.duedat }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex overflow-auto border-top">
        <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bolder flex-nowrap">
            <tabset>
                <tab *ngFor="let tabz of tabs" [heading]="tabz.title" [active]="tabz.active" customClass="tab"></tab>
            </tabset>
        </ul>
      </div>
    </div>
</div>
  
<div class="card m-5 h-700px">
    <div *ngIf="selectedTab == 'detail'">
      <div class="card-header">
        <p class="title my-2 py-2 align-items-center">การท้วงถาม <ng-container *ngIf="askData.length != 0"><span class="fw-bolder fs-5"> จำนวน {{ askData.length }} ครั้ง </span></ng-container></p>
      </div>
      <div class="card-body">
        <div *ngFor="let item of askData; index as i">
          <div class="d-flex fs-5 py-5 justify-content-between">
            <div class="d-flex">
              <div
                class="bg-light-success fs-2 w-auto rounded-circle text-success fw-bolder text-center w-50px h-50px p-5 me-4"
              >
                {{ item?.fullname || "USER" | shortName | shortName }}
              </div>
              <div class="align-self-center fw-bolder">
                {{ item?.fullname || "USER" }} <br />
                <span class="text-muted fs-8">
                  <ng-container *ngIf="item.role == '777'"> Admin </ng-container>
                  <ng-container *ngIf="item.role == '0'"> Sale </ng-container>
                </span>
              </div>
            </div>
            <div class="w-500px fs-6 text-center align-self-end text-gray-600">
              <em> "{{ item?.review }}"</em>
            </div>
            <div class="fs-8 text-gray-500">
                <span class="fw-bold fs-8 my-4 bg-secondary px-2 border rounded"> ครั้งที่ {{ lastIndex - i }}</span>
              {{ item?.timestemp | date: "dd/MM/yyyy hh:mm a" }}
            </div>
          </div>
          <hr />
        </div>
      </div>
    </div>
</div>
  