<!-- begin::Row -->
<div class="row gy-5 g-xl-8">
  <div class="col-xxl-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-stack flex-wrap flex-grow-1 ps-4 pt-9 pb-3">
          <div class="me-2">
            <span class="fw-bolder text-gray-800 d-block fs-3"
              >จำนวนสินค้าทั้งหมด | แยกตามประเภทสินค้า</span
            >
            <span class="text-gray-400 fw-bold"
              >สินค้าทั้งหมด {{ sumTotal | number }} รายการ</span
            >
          </div>
        </div>
        <apx-chart
          [series]="chartOptionsBar.series"
          [chart]="chartOptionsBar.chart"
          [xaxis]="chartOptionsBar.xaxis"
          [yaxis]="chartOptionsBar.yaxis"
          [dataLabels]="chartOptionsBar.dataLabels"
          [stroke]="chartOptionsBar.stroke"
          [legend]="chartOptionsBar.legend"
          [fill]="chartOptionsBar.fill"
          [states]="chartOptionsBar.states"
          [tooltip]="chartOptionsBar.tooltip"
          [colors]="chartOptionsBar.colors"
          [markers]="chartOptionsBar.markers"
          [plotOptions]="chartOptionsBar.plotOptions"
        ></apx-chart>
      </div>
    </div>
  </div>
  <div class="col-xxl-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-stack flex-wrap flex-grow-1 px-9 pt-9 pb-3">
          <div class="me-2">
            <span class="fw-bolder text-gray-800 d-block fs-3"
              >จำนวนลูกค้า แยกตามสถานะ</span
            >
            <!-- <span class="text-gray-400 fw-bold">20 Overdue Tasks</span> -->
          </div>
        </div>
        <apx-chart
          [series]="chartOptionsPie.series"
          [chart]="chartOptionsPie.chart"
          [labels]="chartOptionsPie.labels"
          [responsive]="chartOptionsPie.responsive"
          [dataLabels]="chartOptionsPie.dataLabels"
          [plotOptions]="chartOptionsPie.plotOptions"
          [colors]="chartOptionsPie.colors"
          [legend]="chartOptionsPie.legend"
        ></apx-chart>
      </div>
    </div>
  </div>
</div>
<!-- end::Row -->
